body {
    background-color: darkgray;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        font-weight:600;
}
header {
    display: block;
  }
p {
    font-size: 250%;
}
a {
    color: snow;
    text-decoration: none;
}
#centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* it center the item vertically */
    justify-content: center;
    /* it center the item horizontally */
}
#box {
    border: 5px solid rgb(255, 255, 255);
    width: 80px;
    height: 50px;
    position: relative; top: -115px; left:44px;
}
#menu {
    position: absolute; top: 0px;
    width:2000px; 
    height:100px; 
    background: black;
}
#menu_text {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    border: 100px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    position: relative; top: -19px; left:50px;
 }
#pink_flower {
    position:relative; top:200px; left:1060px;
    z-index: -1;
}
#sun_flower {
    position:relative; top:250px; left:360px;
    z-index: -1;
}
#flower {
    position:relative; top:-50px; left:108px;
    z-index: -2;
}
#tausta {
    position:relative; top:-60px; left:21px;
    width: 560px;
    z-index: -3;
}