* {
    box-sizing: border-box;
}
header {
    display: block;
  }

body {
    margin:0;
    overflow-x: hidden;
    background-color: rgb(61, 69, 71);
    font-family: 'Helvetica';
    font-weight: 500;
}
a {
    color: snow;
    text-decoration: none;
}
p {
    color:white;
}

.menu {
    position: relative; top: -20px; 
    margin:0;
    padding:0;
    width: 100%;
    height:63px; 
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    color:white;
    background-color: black;
    position: fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    font-size: 110%;
    text-align: center;
}

a:hover {
    background-color: rgb(92, 88, 88);
}

.selected {
    background-color: grey;
}
i {
    position: relative;
    left:4px;
    width:22.5px;
    display: inline-block;
}
.menu ul {
    position:relative; top:8px;
    margin:0px;
    padding:0px;
  }

.menu li {
    float:left;
    list-style: none;
}
.menu li a {
    padding:12px; 
    font-size: 20px;
    display: block;
}

#box {
    border: 5px solid rgb(255, 255, 255);
    width: 80px;
    height: 50px;
    position: relative; top: -115px; left:44px;
}
h1#coming_soon{
    color:white;
    position: relative; left:5px;
}

